<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

---

In [ ]:
print("Olá, mundo!")

Olá, mundo!

<a href="https://www.tripadvisor.com.br/LocationPhotos-g303272-Salvador_State_of_Bahia.html#60501510"><img alt="" src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/2e/06/salvador.jpg"/></a><br/> 

Essa é Salvador, minha cidade natal.
*Fonte: Tripadvisor.*

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
ticket_medio = 320.52
qtd_total_vendas = 3
valor_total_vendas = ticket_medio*qtd_total_vendas
a = valor_total_vendas
print(a)

961.56

In [ ]:
# (B)
valor_total_vendas = 834.47
ticket_medio = 119.21
qtd_total_vendas = valor_total_vendas/ticket_medio
b = qtd_total_vendas
print(b)

7.000000000000001

In [ ]:
# (C)
valor_total_venda = 15378.12
qtd_vendas  = 5
ticket_medio = valor_total_venda/qtd_vendas
c = ticket_medio
print(c)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
itens = cancao.count("roda")
print(itens)
upper = cancao.upper()
print(upper)
find = cancao.find("mo")
print(find)

3
RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
31

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [3]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
posicao_selic = noticia.find("2,75%")
posicao_ano = noticia.find("6 anos")

selic = noticia[12:17]
ano = noticia[-7]
print(f'A taxa Selic é {selic} e o ano é {ano}')

A taxa Selic é 2,75% e o ano é 6

---

## 4\. Booleanos

:Utilize a tabela da verdade para responder: qual o valor da variável x?

In [4]:
a = False
b = True

x = not a & b
print(x)

True