## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [184]:
#Importamos pandas e numpy e criamos os dataframes

import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [185]:
# Usamos o slicing para calcular todos acertos dos alunos pelo número de questões
# Imprimimos o resultado 
pc_mat = df_mat['Qt_acertos'] / 24 
print(pc_mat)

pc_por = df_por['Qt_acertos'] / 18
print(pc_por)

pc_geo = df_geo['Qt_acertos']  /  8
print(pc_geo)

pc_ing = df_ing['Qt_acertos']  /  8
print(pc_ing)

pc_his = df_his['Qt_acertos']  /  8
print(pc_his)

pc_fis = df_fis['Qt_acertos']  /  8
print(pc_fis)

pc_qui = df_qui['Qt_acertos']  /  8
print(pc_qui)

0     0.250000
1     0.791667
2     0.583333
3     0.416667
4     0.291667
        ...
95    0.250000
96    0.333333
97    0.958333
98    0.000000
99    0.458333
Name: Qt_acertos, Length: 100, dtype: float64
0     0.388889
1     0.555556
2     0.888889
3     0.388889
4     0.111111
        ...
95    0.222222
96    0.055556
97    0.277778
98    0.555556
99    0.833333
Name: Qt_acertos, Length: 100, dtype: float64
0     0.875
1     0.000
2     0.000
3     0.375
4     0.250
      ...
95    0.875
96    0.500
97    0.000
98    0.375
99    0.000
Name: Qt_acertos, Length: 100, dtype: float64
0     0.375
1     0.000
2     0.625
3     0.500
4     0.875
      ...
95    0.125
96    0.750
97    0.250
98    0.125
99    0.125
Name: Qt_acertos, Length: 100, dtype: float64
0     0.125
1     0.000
2     0.875
3     0.000
4     0.000
      ...
95    0.500
96    0.125
97    0.500
98    0.625
99    0.750
Name: Qt_acertos, Length: 100, dtype: float64
0     1.000
1     1.375
2     0.500
3     0.000
4     1.125
      ...
95    1.125
96    0.500
97    0.125
98    1.250
99    0.875
Name: Qt_acertos, Length: 100, dtype: float64
0     0.375
1     1.000
2     0.500
3     1.000
4     0.375
      ...
95    0.375
96    0.375
97    0.625
98    1.375
99    0.250
Name: Qt_acertos, Length: 100, dtype: float64

In [186]:
# Somando a quantidade de acertos em cada disciplina para obter o total de acertos
total = df_mat['Qt_acertos'] + df_por['Qt_acertos'] + df_geo['Qt_acertos'] + df_ing['Qt_acertos'] + df_his['Qt_acertos'] + df_fis['Qt_acertos'] + df_qui['Qt_acertos']
total

0     35
1     48
2     50
3     32
4     30
      ..
95    34
96    27
97    40
98    40
99    42
Name: Qt_acertos, Length: 100, dtype: int64

In [187]:
# Calculando o percentual geral de acertos de cada aluno em relação ao total de questões
percentual = total/90
print(percentual)

0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
        ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667
Name: Qt_acertos, Length: 100, dtype: float64

In [188]:
# Calculando os alunos que tiveram nota maior que 45
total_gt_45 = total[total > 45]
total_gt_45.count()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [189]:
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

3     32
6     29
10    31
12    42
14    31
20    53
25    27
26    40
27    50
33    39
35    48
49    19
56    39
65    24
66    31
72    50
73    37
74    39
84    26
89    63
92    40
94    25
98    40
Name: Qt_acertos, dtype: int64

In [190]:
# Calculamos o número de alunos desqualificados 
# Criamos uma nova variável 'qt_eliminados' utilizando no DataFrame 'df_eliminados' a função 'count'
qt_eliminados = df_eliminados.count()
qt_eliminados

23

In [191]:
# Calculamos a média dos alunos desqualificados em história e geografia
# Utilizamos o método 'loc' para selecionar os dados dos alunos desqualificados nos DataFrames 'df_his' e 'df_geo' com base no índice do DataFrame 'df_eliminados'
df.media_his_eliminados = df_his.loc[df_eliminados.index,'Qt_acertos'].mean()
df.media_geo_eliminados = df_geo.loc[df_eliminados.index,'Qt_acertos'].mean()
print(df.media_his_eliminados)
print(df.media_geo_eliminados)

3.4347826086956523
3.217391304347826

In [192]:
# Calculamos a quantidade de alunos que passaram para próxima fase
# Usamos a condicional 'AND' e o operador '>'para descobrir quais alunos haviam acertado mais do que zero questões 
df_segunda_fase = total[(df_mat['Qt_acertos'] > 0) &
                      (df_fis['Qt_acertos'] > 0) &
                      (df_qui['Qt_acertos'] > 0)]

df_segunda_fase.count()

77

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [193]:
import os 

# Obtenha o diretório atual
diretorio_atual = os.getcwd()

In [194]:
# Defina o caminho para o arquivo
arquivo = os.path.join(diretorio_atual, 'sample_data', 'registros de vacinacao covid ACRE.csv')
print(arquivo)
df = pd.read_csv(arquivo, sep=';')
df.info()

/content/sample_data/registros de vacinacao covid ACRE.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169071 entries, 0 to 169070
Data columns (total 34 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               169071 non-null  object
 1   paciente_id                               169071 non-null  object
 2   paciente_idade                            169071 non-null  int64
 3   paciente_datanascimento                   169071 non-null  object
 4   paciente_enumsexobiologico                169071 non-null  object
 5   paciente_racacor_codigo                   169071 non-null  int64
 6   paciente_racacor_valor                    169071 non-null  object
 7   paciente_endereco_coibgemunicipio         167802 non-null  float64
 8   paciente_endereco_copais                  167804 non-null  float64
 9   paciente_endereco_nmmunicipio             167804 non-null  object
 10  paciente_endereco_nmpais                  167804 non-null  object
 11  paciente_endereco_uf                      167802 non-null  object
 12  paciente_endereco_cep                     140711 non-null  float64
 13  paciente_nacionalidade_enumnacionalidade  168904 non-null  object
 14  estabelecimento_valor                     169071 non-null  int64
 15  estabelecimento_razaosocial               169071 non-null  object
 16  estalecimento_nofantasia                  169071 non-null  object
 17  estabelecimento_municipio_codigo          169071 non-null  int64
 18  estabelecimento_municipio_nome            169071 non-null  object
 19  estabelecimento_uf                        169071 non-null  object
 20  vacina_grupoatendimento_codigo            169071 non-null  int64
 21  vacina_grupoatendimento_nome              167965 non-null  object
 22  vacina_categoria_codigo                   167965 non-null  float64
 23  vacina_categoria_nome                     167467 non-null  object
 24  vacina_lote                               169071 non-null  object
 25  vacina_fabricante_nome                    169071 non-null  object
 26  vacina_fabricante_referencia              167680 non-null  object
 27  vacina_dataaplicacao                      169071 non-null  object
 28  vacina_descricao_dose                     169071 non-null  object
 29  vacina_codigo                             169071 non-null  int64
 30  vacina_nome                               169071 non-null  object
 31  sistema_origem                            169071 non-null  object
 32  data_importacao_rnds                      169071 non-null  object
 33  id_sistema_origem                         0 non-null       float64
dtypes: float64(5), int64(6), object(23)
memory usage: 43.9+ MB

In [195]:
# Utilizando a função 'nunique' e coluna 'vacina_codigo' para descobrir a quantidade de vacinas registradas
df['vacina_codigo'].nunique()

5

In [196]:
# Mostramos as cinco primeiras linhas do dataframe
df.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0,84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [197]:
df.shape[0]

169071

In [198]:
# Calcular o número de pacientes vacinados utilizando a coluna 'paciente_id' e a função 'nunique'
df['paciente_id'].nunique()

120517

In [199]:
# Calculando a quantidade de pacientes que receberam a primeira dose
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

119713

In [200]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

119713

In [201]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

47

In [202]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [203]:
# Criamos uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
# Incluímos a função 'info' para mostrar informações sobre o dataframe novo
df_menor = df[df["paciente_idade"]<18].copy()
df_menor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 1567 to 164449
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   document_id                               55 non-null     object
 1   paciente_id                               55 non-null     object
 2   paciente_idade                            55 non-null     int64
 3   paciente_datanascimento                   55 non-null     object
 4   paciente_enumsexobiologico                55 non-null     object
 5   paciente_racacor_codigo                   55 non-null     int64
 6   paciente_racacor_valor                    55 non-null     object
 7   paciente_endereco_coibgemunicipio         52 non-null     float64
 8   paciente_endereco_copais                  52 non-null     float64
 9   paciente_endereco_nmmunicipio             52 non-null     object
 10  paciente_endereco_nmpais                  52 non-null     object
 11  paciente_endereco_uf                      52 non-null     object
 12  paciente_endereco_cep                     42 non-null     float64
 13  paciente_nacionalidade_enumnacionalidade  55 non-null     object
 14  estabelecimento_valor                     55 non-null     int64
 15  estabelecimento_razaosocial               55 non-null     object
 16  estalecimento_nofantasia                  55 non-null     object
 17  estabelecimento_municipio_codigo          55 non-null     int64
 18  estabelecimento_municipio_nome            55 non-null     object
 19  estabelecimento_uf                        55 non-null     object
 20  vacina_grupoatendimento_codigo            55 non-null     int64
 21  vacina_grupoatendimento_nome              54 non-null     object
 22  vacina_categoria_codigo                   54 non-null     float64
 23  vacina_categoria_nome                     54 non-null     object
 24  vacina_lote                               55 non-null     object
 25  vacina_fabricante_nome                    55 non-null     object
 26  vacina_fabricante_referencia              53 non-null     object
 27  vacina_dataaplicacao                      55 non-null     object
 28  vacina_descricao_dose                     55 non-null     object
 29  vacina_codigo                             55 non-null     int64
 30  vacina_nome                               55 non-null     object
 31  sistema_origem                            55 non-null     object
 32  data_importacao_rnds                      55 non-null     object
 33  id_sistema_origem                         0 non-null      float64
dtypes: float64(5), int64(6), object(23)
memory usage: 15.0+ KB

In [204]:
# Criamos uma lista das colunas desse DataFrame com o atributo de DataFrame **.columns()**  
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [205]:
# Fazemos uma contagem do campo vacina_categoria_nome.
df_menor['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [206]:
# Escolhemos somente as colunas que são referentes ao estabelecimento, criando uma lista com esses valores.
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [207]:
# Aplicamos o método .drop_duplicates e criamos uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(18, 6)